


body  {
	font: .8em "Lucida Grande",Verdana,Helvetica,sans-serif;
	background: #fff;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: left; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}

input {
	font: 12px/100%;
	font-family: Tahoma,Sans,Arial,Helvetica,sans-serif;
	color: #494949;
}

textarea, select {
	font: 12px/160%;
	font-family: Tahoma,Sans,Arial,Helvetica,sans-serif;
	color: #494949;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0pt;
}

div#sidebarRight h2 { 
	margin: .2em; 
}

h1, h2, h3, h4, h5, h6 {
margin-bottom:0.5em;
}
h1 {
font-size:1.3em;
}
h2 {
font-size:1.2em;
}
h3, h4, h5, h6 {
font-size:1.1em;
}

ul, quote, code, fieldset {
	margin: .5em 0;
}

p {
	margin: 0.6em 0 1.2em;
	padding: 0;
}

a:link, a:visited {
	color: #666;
	text-decoration: none;
}

#mainContent a:link, #mainContent a:visited {
	color: #CC6600;
}

a:hover {
	color: #333;
	text-decoration: underline;
}

a:active, a.active {
	color: #CC6600;
}

hr {
	margin: 0;
	padding: 0;
	border: none;
	height: 1px;
	background: #5294c1;
}

ul {
	margin: 0.5em 0 1em;
	padding: 0;
}

ul li {
	margin: 0.4em 0 0.4em .5em;
}

 .item-list ul {
	margin: 0.35em 0 0 -0.5em;
	padding: 0;
}

 .item-list ul ul {
	margin-left: 0em;
}

ul li, .item-list ul li, li.leaf {
	margin: 0.15em 0 0.15em .5em;
}

ul li, .item-list ul li, li.leaf {
	padding: 0 0 .2em 1.5em;
	list-style-type: none;
	list-style-image: none;
	background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em;
}

ul li.expanded {
	background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em;
}

ul li.collapsed {
	background: transparent url(images/menu-collapsed.gif) no-repeat 0px .35em;
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
	display: block;
}

ul.inline li {
	background: none;
	margin: 0;
	padding: 0 1em 0 0;
}

fieldset ul.clear-block li {
	margin: 0;
	padding: 0;
	background-image: none;
}

dl {
	margin: 0.5em 0 1em 1.5em;
}

dl dt {
}

dl dd {
	margin: 0 0 .5em 1.5em;
}

img, a img {
	border: none;
}

table {
	margin: 1em 0;
	width: 100%;
}

thead th {
	border-bottom: 2px solid #F4E2D3;
	color: #494949;
	font-weight: bold;
}

th a:link, th a:visited {
	color: #6f9dbd;
}

td, th {
	padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
	border: solid #F4E2D3;
	border-width: 1px 0;
}

tr.odd, tr.info {
	background-color: #FAF3ED;
}

tr.even {
	background-color: #fff;
}

tr.odd td.active {
	background-color: #F5E8DD;
}

tr.even td.active {
	background-color: #e6f1f7;
}

td.region, td.module, td.container {
	border-top: 1.5em solid #fff;
	border-bottom: 1px solid #F0D2B4;
	background-color: #F3E2D4;
	color: #715D3B;
	font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
	border-top-width: 0;
}

span.form-required {
	color: #ffae00;
}

span.submitted, .description {
	font-size: 0.92em;
	color: #898989;
}

.description {
	line-height: 150%;
	margin-bottom: 0.75em;
	color: #898989;
}

.messages, .preview {
	margin: .75em 0 .75em;
	padding: .5em 1em;
}

.messages ul {
	margin: 0;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
	margin: 0.25em 0;
}

#center form {
	margin-bottom: 2em;
}

.form-button, .form-submit {
	margin: 2em 0.5em 1em 0;
}

#watchdog-form-overview .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button, fieldset .form-submit,
.sidebar .form-button, .sidebar .form-submit,
table .form-button, table .form-submit {
	margin: 0;
}

.box {
	margin-bottom: 2.5em;
}


#header {
	color: white;
	padding: 10px;
	background: url(images/shadow-bottom-light.png) repeat-x bottom #2385c2;
	}
#menu {
	color: white;
	}

#breadcrumb {
	background: url(images/shadow-bottom-light.png) repeat-x bottom #027ac6;
	padding: 0.2em 0pt 0pt;
	color: white;
}

#breadcrumb a {
	color: white;
}
.bd #sidebarLeft {
	float: left;
	width: 180px; /* since this element is floated, a width must be given */
	max-width: 16em;
	padding: 0.25em;
	margin: auto;
	margin-top: 0.5em;
	background-color: #EBEBEB;
	border-right: 1px solid #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
	border-top: 1px solid #DBDBDB;
}
.bd #sidebarLeft h3, .bd #sidebarLeft p {
	margin-left: 0.5em; /* the left and right margin should be given to every element that will be placed in the side columns */
	margin-right: 0.5em;
}
.bd #sidebarRight {
	float: right;
	width: 180px; /* since this element is floated, a width must be given */
	max-width: 16em;
	padding: 0.25em;
	margin: auto;
	margin-top: 0.5em;
	background-color: #EBEBEB;
	border-left: 1px solid #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
	border-top: 1px solid #DBDBDB;
}
.bd #sidebarRight h3, .bd #sidebarRight p {
	margin-left: 0.5em; /* the left and right margin should be given to every element that will be placed in the side columns */
	margin-right: 0.5em;
}

/* Tips for mainContent:
1. If you give this #mainContent div a font-size value different than the #sidebarRight div, the margins of the #mainContent div will be based on its font-size and the width of the #sidebarRight div will be based on its font-size. You may wish to adjust the values of these divs.
2. The space between the mainContent and sidebarRight is created with the left margin on the mainContent div.  No matter how much content the sidebarRight div contains, the column space will remain. You can remove this left margin if you want the #mainContent div's text to fill the #sidebarRight space when the content in #sidebarRight ends.
3. To avoid float drop, you may need to test to determine the approximate maximum image/element size since this layout is based on the user's font sizing combined with the values you set. However, if the user has their browser font size set lower than normal, less space will be available in the #mainContent div than you may see on testing.
4. In the Internet Explorer Conditional Comment below, the zoom property is used to give the mainContent "hasLayout." This avoids several IE-specific bugs that may occur.
*/

.bd div#contentArea { 
	margin: 0px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
}

.bd #mainContentSidebarLeft {
/*	margin: 0 16em 0 .75em;  the left margin will look best if you match the padding amount to the header and footer. */
	width: 570px;
	margin-top: .5em;
	padding:0.25em;
	margin-left: 200px;
	margin-right: 10px;
}
.bd #mainContentSidebarRight {
/*	margin: 0 16em 0 .75em;  the left margin will look best if you match the padding amount to the header and footer. */
	width: 570px;
	margin-top: .5em;
	padding:0.25em;
	margin-left: 10px;
	margin-right: 200px;
}
.bd #mainContentSidebarBoth {
/*	margin: 0 16em 0 .75em;  the left margin will look best if you match the padding amount to the header and footer. */
	min-width: 440px;
	margin-top: .5em;
	padding:0.25em;
	margin-right: 200px;
	margin-left: 200px;
}
.bd #mainContent {
/*	margin: 0 16em 0 .75em;  the left margin will look best if you match the padding amount to the header and footer. */
	width: 770px;
	margin-top: .5em;
	padding:0.25em;
	margin: 0px auto;
}
.bd div#footer { 
	margin: 0pt;
	padding: 0pt; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background: url(images/shadow-bottom-light.png) repeat-x bottom #EBEBEB;
	width: 100%;
	border-top: #C5C5C5 1px solid;
	text-align: center;
} 


.bd .topShadow{
	width: 100%;
	background: url(images/shadow-top-light.png) repeat-x top #fff;
	padding: 6px 0 0 0; 
}

.bd #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: .75em 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
	text-align: center;
}

/* Miscellaneous classes for reuse */
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

ul#primary_links {
	margin-left: 0;
	white-space: nowrap;
}

ul#primary_links li {
	display: inline;
	list-style-type: none;
	background: none;
	padding: 0pt;
}

#primary_links a { padding: 3px 10px; text-decoration: none; }

#primary_links a:link, #primary_links a:visited	{
	color: #494949;
}

#primary_links a:hover {
	color: #fff;
}

#primary_links a.active, #primary_links a.active a:hover {
	color: #fff;
}

ul#subnavlist {
	display: inline;
	list-style-type: none;
	background: none;
	padding: 0.75em 0pt;
	float: right;
}

ul#subnavlist li {
	display: inline;
	list-style-type: none;
	background: none;
	padding: 0pt;
}

#mainContent ol, #mainContent ul {
	margin-left: 1em;
}

/**
 * Primary navigation
 */
ul.primary-links {
	margin: 0;
	padding: 0;
	float: right;
	position: relative;
	z-index: 4;
}

ul.primary-links li {
	margin: 0;
	padding: 0;
	float: left;
	background-image: none;
}

ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited {
	display: block;
	margin: 0 1em;
	padding: .75em 0 0;
	color: #fff;
	background: transparent url(images/bg-navigation-item.png) no-repeat 50% 0;
}

ul.primary-links li a:hover, ul.primary-links li a.active {
	color: #fff;
	background: transparent url(images/bg-navigation-item-hover.png) no-repeat 50% 0;
}

/**
 * Secondary navigation
 */
ul.secondary-links {
	margin: 0;
	padding: 18px 0 0;
	float: right;
	clear: right;
	position: relative;
	z-index: 4;
}

ul.secondary-links li {
	margin: 0;
	padding: 0;
	float: left;
	background-image: none;
}

ul.secondary-links li a, ul.secondary-links li a:link, ul.secondary-links li a:visited {
	display: block;
	margin: 0 1em;
	padding: .75em 0 0;
	color: #cde3f1;
	background: transparent;
}

ul.secondary-links li a:hover, ul.secondary-links li a.active {
	color: #cde3f1;
	background: transparent;
}

/**
 * Local tasks
 */
ul.primary, ul.primary li, ul.secondary, ul.secondary li {
	border: 0;
	background: none;
	margin: 0;
	padding: 0;
}

#tabs-wrapper {
	margin: 0 -26px 1em;
	padding: 0 26px;
	border-bottom: 1px solid #e9eff3;
	position: relative;
}
ul.primary {
	padding: 0.5em 0 .1em;
}
ul.secondary {
	/*  clear: both; */
	text-align: left;
	border-bottom: 1px solid #e9eff3;
	margin: -0.2em -26px 1em;
	padding: 0 26px 0.6em;
}
h2.with-tabs {
	float: left;
	margin: 0 2em 0 0;
	padding: 0;
}

ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited,
ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
	border: 0;
	background: transparent;
	padding: 4px 1em;
	margin: 0 0 0 1px;
	height: auto;
	text-decoration: none;
	position: relative;
	top: -1px;
}
#mainContent ul.primary li.active a, #mainContent ul.primary li.active a:link, #mainContent ul.primary li.active a:visited, #mainContent ul.primary li a:hover,
#mainContent ul.secondary li.active a, #mainContent ul.secondary li.active a:link, #mainContent ul.secondary li.active a:visited, #mainContent ul.secondary li a:hover {
	background: #333;
	color: #fff;
}
ul.primary li.active a,
ul.secondary li.active a {

}

/**
 * Nodes & comments
 */
.node {

}

ul.links li, ul.inline li {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 1em;
	background-image: none;
}

.node .links, .comment .links {
	text-align: left;
}

.node .links ul.links li, .comment .links ul.links li {}
.terms ul.links li {
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
	padding-left: 1em;
}

.picture, .comment .submitted {
	float: right;
	clear: right;
	padding-left: 1em;
}

.new {
	color: #ffae00;
	font-size: 0.92em;
	font-weight: bold;
	float: right;
}

.terms {
	float: right;
}

.preview .node, .preview .comment, .sticky {
	margin: 0;
	padding: 0.5em 0;
	border: 0;
	background: 0;
}

.sticky {
	padding: 1em;
	background-color: #fff;
	border: 1px solid #e0e5fb;
	margin-bottom: 2em;
}

#comments {
	position: relative;
	top: -1px;
	border-bottom: 1px solid #e9eff3;
	margin: -1.5em -25px 0;
	padding: 0 25px;
}

#comments h2.comments {
	margin: 0 -25px;
	padding: .5em 25px;
	background: #fff url(images/gradient-inner.png) repeat-x 0 0;
}

.comment {
	margin: 0 -25px;
	padding: 1.5em 25px 1.5em;
	border-top: 1px solid #e9eff3;
}

.indented {
	margin-left: 25px;
}

.comment h3 a.active {
	color: #494949;
}

.node .content, .comment .content {
	margin: 0.6em 0;
}

/**
 * Aggregator.module

#aggregator {
	margin-top: 1em;
}
#aggregator .feed-item-title {
	font-size: 160%;
	line-height: 130%;
}
#aggregator .feed-item {
	margin: -1.5em -31px;
	padding: 1.5em 31px;
}
#aggregator .feed-item-categories {
	font-size: 0.92em;
}
#aggregator .feed-item-meta {
	font-size: 0.92em;
	color: #898989;
} */

/**
 * Color.module
 */
#palette .form-item {
	border: 1px solid #fff;
}
#palette .item-selected {
	background: #fff url(images/gradient-inner.png) repeat-x 0 0;
	border: 1px solid #d9eaf5;
}

/**
 * Menu.module
 */
tr.odd td.menu-disabled {
	background-color: #edf5fa;
}
tr.even td.menu-disabled {
	background-color: #fff;
}
td.menu-disabled {
	opacity: 0.5;
}

/**
 * Poll.module
 */
.poll .bar {
	background: #fff url(images/bg-bar-white.png) repeat-x 0 0;
	border: solid #f0f0f0;
	border-width: 0 1px 1px;
}

.poll .bar .foreground {
	background: #71a7cc url(images/bg-bar.png) repeat-x 0 100%;
}

.poll .percent {
	font-size: .9em;
}

/**
 * Autocomplete.
 */
#autocomplete li {
	cursor: default;
	padding: 2px;
	margin: 0;
}

/**
 * Collapsible fieldsets
 */
fieldset {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #d9eaf5;
	background: #fff url(images/gradient-inner.png) repeat-x 0 0;
}

html.js fieldset.collapsed {
	background: transparent;
	padding-top: 0;
	padding-bottom: .6em;
}

html.js fieldset.collapsible legend a {
	padding-left: 2em;
	background: url(images/menu-expanded.gif) no-repeat 0% 50%;
}

html.js fieldset.collapsed legend a {
	background: url(images/menu-collapsed.gif) no-repeat 0% 50%;
}

/**
 * Syndication icons and block
 */
#block-node-0 h2 {
	float: left;
	padding-right: 20px;
}

#block-node-0 img, .feed-icon {
	text-align:right;
/*	float: right;
	padding-top: 4px; */
}

#block-node-0 .content {
	clear: right;
}

/**
 * Login Block
 */
#user-login-form {
	text-align: center;
}
#user-login-form ul {
	text-align: left;
}

.node-form .standard {
	clear:none;
}

.rssTemplateBox {
	padding: 0.2em 0.2em 0.2em 1.70em;
	margin-left: 1.2em;
	background: url(images/feed.png) no-repeat left;
}

.defaultTemplateBox {
	width: 90%; 
	margin: 0 auto 1em;
	padding: .5em;
	background-color: #F3F3F3;
	text-align: center;
}


/* for tinyMCE */
body.mceContentBody {
  background: #fff;
  color: #000;
  text-align: left;
}

/* breadcrumb */

#breadcrumb .wrapper {
	padding-left: 1em;
}


/* footer */
#footer .wrapper {
	color: #656565;
	padding: 0 0.5em;

}

#footer .wrapper p {
	color: #656565;
	width:100%;
}

#footer .wrapper ul#subnavlist {
	display: inline;
	list-style-type: none;
	background: none;
	padding: 0.75em 0pt;
	float: right;
}

#footer .wrapper li {
	border-right: 1px solid #656565;
	display: block;
	float: left;
	padding: 0pt 10px;
	margin: 0pt;
}

#footer .wrapper li.last {
	border-right-style: none;
	padding-right: 0pt;
}

/* for altering maincontent width/position */

.full {
	margin: 0pt 1em;
}

#title {
	font-weight: bold;
}


#header h1 {
	padding: 0;
	margin: 0;
}
#header h1.site-name a, #header h1.site-name  {
	color: white;
	float: left;
}

ul.menu li {
	background: none;
	margin: 0pt;
	padding: 0pt;
}

.profile, form.fivestar-widget, .class {
   clear: none;
}