
/* Positioning */
#preview {
  overflow: hidden;
  max-width: 100%;
}
#preview, #preview #img {
  width: 596px;
  height: 371px;
}
#preview #gradient {
  position: absolute;
  left: 0;
  right: 0;
  top: 19px;
  height: 120px;
  z-index: 2;
}
#preview #text {
  width: 436px;
  height: 120px;
  z-index: 4;
}

#preview #text p {
	background-color: white;
	margin: 10px;
	padding: 5px;
}

#preview #img {
  position: relative;
  z-index: 3;
}
#preview #gradient .gradient-line {
  height: 10px;
  overflow: hidden;
}

/* Basic styles to match */
#preview {
  font: 12px/170% Verdana;
}
#preview h2 {
  padding: 5px 0px 0px 5px;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 160%;
  line-height: 130%;
}
#preview p {
  margin: .5em 0;
}
#preview a:link, #preview a:visited {
  text-decoration: none;
  font-weight: normal;
}
#preview a:hover {
  text-decoration: underline;
}
#preview, #preview #img {
	height: 200px;
	width: 465px;
}
#preview #gradient {
	height:0px;
	left:0pt;
	position:relative;
	right:0pt;
	top:0px;
	z-index:2;
}